*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
}
html{
    font-size: 65.5%;
}
body{
    background:lightgreen;
}

nav{
    width: 100vw;
    height: 10vh;
    background: #333;
}
h2{
    color:lightblue;
    font-size: 2rem;
}